/* RESPONSIVE 
**************************************/

@media (max-width: 1156px) {
    .small-box .shadow-desc h4 {
        font-size: 14px;
    }
}
@media (max-width: 1047px) {
    .topbar-section .list-inline-item {
        padding: 0 0.2rem !important;
    }
}
@media (max-width: 989px) {
    .search-form .btn:hover,
    .search-form .btn:focus,
    .search-form .btn {
        position: relative;
    }
    .custombox .blog-list-widget,
    .custombox .blog-box {
        margin: 1rem 0;
    }
    .sidebar,
    .footer .widget {
        margin: 1.5rem 0;
    }
    .center-side,
    .left-side,
    .right-side {
        float: left;
        width: 50%;
    }
}
@media (max-width: 768px) {
    .post-sharing .btn {
        padding: 0.6rem !important;
    }
    .blog-custom-build .down-mobile,
    .blog-title-area .down-mobile {
        display: none !important;
    }
    .newsletter-widget .form-inline .form-control {
        width: 100%;
    }
    .newsletter-widget .btn {
        display: block;
        width: 100%;
        margin-top: 0.5rem;
    }
    .blog-list .blog-meta.big-meta h4 {
        background-color: #ffffff;
        margin-left: 0;
        margin-top: 1rem;
        padding: 1rem 0;
    }
}
