/**************************************
    Table of Content
    
    1. BASIC
    2. HEADER
    3. SECTION
    4. FOOTER
    5. PAGES
    6. BLOG
    7. WIDGETS
**************************************/
/* BASIC 
**************************************/

body {
    font-size: 15px;
    line-height: 26px;
    background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
body,
p,
.topbar-section,
.navbar-inverse .navbar-nav .nav-link,
.header .dropdown-menu,
.navbar-nav .nav-link {
    font-family: 'Roboto', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    line-height: 1.4;
    color: #111111;
}

h1:hover a,
h2:hover a,
h3:hover a,
h4:hover a,
h5:hover a,
h6:hover a {
    text-decoration: underline !important;
    color: #111111 !important;
}

h1 {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 23px
}

h2 {
    font-size: 27px;
    line-height: 38px;
    margin-bottom: 20px
}

h3 {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 17px
}

h4 {
    font-size: 19px;
    line-height: 29px;
    margin-bottom: 14px
}

h5 {
    font-size: 17px;
    line-height: 25px;
    margin-bottom: 11px
}

h6 {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 11px
}

a {
    color: #111111;
}

body,
p {
    color: #5e5e5e;
}

p {
    margin-bottom: 26px;
    font-size: 15px;
    line-height: 26px;
}

a {
    text-decoration: none !important;
}

.blockquote {
    border: 1px solid #edeff2;
    background: #fff none repeat scroll 0 0;
    border-left: 4px solid #eceeef;
    font-size: 1.1rem;
    font-style: italic;
    margin-bottom: 1.5rem;
    border-radius: 0 !important;
    padding: 2rem;
}
/* HEADER 
**************************************/

.header {
    padding: 0.4rem 0;
    position: relative;
    background-color: #ffffff;
}

.navbar-inverse .navbar-nav .nav-link,
.navbar-nav .nav-link {
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    padding: 0.9rem 0 0.8rem;
    text-transform: capitalize;
    color: #121212;
}

.dropdown-toggle::after {
    display: inline-block;
    width: auto;
    height: auto;
    margin-left: 0.5em;
    margin-top: 0rem;
    vertical-align: middle;
    content: "\f107";
    border: 0;
    font-family: 'FontAwesome';
}

.navbar-toggleable-md .navbar-nav .nav-link {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}

.header-section {
    padding: 3rem 0 1.5rem;
    background-color: #ffffff;
}

.logo img {
    max-width: 324px;
    max-width: 100%;
    margin: auto;
    text-align: center;
    display: block;
}

.navbar-nav {
    margin: 0;
}

.header .dropdown-menu {
    padding: 0;
    box-shadow: none;
    border-radius: 0;
    min-width: 240px;
    margin-top: 15px !important;
    border-color: #edeff2;
}

.header .dropdown ul li {
    border-bottom: 1px solid #f5f5f5;
}

.header .dropdown-item {
    font-weight: 400;
    text-transform: capitalize;
    font-size: 14px;
    padding: 4px 1.8rem;
}

.header .dropdown-item:hover,
.header .dropdown-item:focus {
    color: #121212 !important;
    background-color: #edeff2;
}

.header .dropdown ul li:last-child {
    border-bottom: 0;
}

.header .dropdown-item span {
    position: absolute;
    right: 20px;
    top: 2px;
}

.header-section {
    margin-bottom: 0;
}

.topsocial .fa {
    margin-right: 0.5rem;
    font-size: 15px;
}

.topbar-section {
    display: block;
    position: relative;
    background-color: #ffffff;
    padding: 1rem 2rem;
    font-size: 14px;
    border-bottom: 1px dashed #e2e2e2;
}

.topbar-section a {
    color: rgba(0, 0, 0, 0.8) !important;
}

.topbar-section a:focus,
.topbar-section a:hover {
    color: rgba(0, 0, 0, 1) !important;
}

.topbar-section .list-inline {
    margin: 0;
    padding: 0;
}

.topbar-section .tooltip-inner {
    margin-top: 10px !important;
}

.topbar-section .list-inline-item {
    padding: 0 0.4rem !important;
}

.topmenu i {
    padding-right: 0.3rem;
}

.menu-large {
    overflow: hidden;
    position: static !important;
}

.dropdown-menu.megamenu {
    margin-top: 7px !important;
    left: 0;
    right: 0;
    width: 100%;
}

.dropdown-menu .dropdown-menu {
    margin-top: -1px !important
}

.mega-menu-content {
    position: relative;
    padding: 0;
    background-color: #ffffff;
}

.tab-details {
    padding: 2rem 0;
}

.tab-details .blog-meta h4 {
    font-size: 14px;
    margin: 0;
    padding: 0.5rem 0 0;
    line-height: 1.4;
}

.menucat {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #111111;
    font-size: 11px;
    padding: 0.3rem 0.6rem;
    line-height: 1;
    color: #ffffff;
}

.post-media:hover .menucat {
    display: none;
}

.post-media img {
    width: 100%;
}

